* {
  margin: 0; padding: 0;
}

.logo {
  position: absolute;
  top: 23%;
  left: 42%;
}

.logo-subtext {
  color: #4285f4;
  font: 16px/16px roboto-regular, arial, sans-serif;
  position: relative;
  top: -21px;
  left: 217px;
}

.name_icon {
  border-radius: 50%;
}

.ring_icon {
  background-color: rgba(0,0,0,.55);
  border-radius: 50%;
  top: -5px;
}

.ring_icon:hover{
  background-color: black;
}

.more_icon {
  color: rgba(0,0,0,.55);
  top: -7px;
}

.menu a{
  text-decoration: none;
  color: rgba(0,0,0,0.75);
  font-family: arial,sans-serif;
  font-size: 13px;
  top: -11px
}

.menu a:hover{
  color: rgba(0,0,0,1);
  text-decoration: underline;
}

.menu{
  position: relative;
  top: 15px;
  left: 28px;
}

.menu *{
  margin: 0 8px;
  position: relative;
}

.input {
  position: absolute;
  direction: rtl;
  top: 37%;
  left: 33%;
  width: 584px;
  height: 44px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  border-radius: 2px;
}
input {
  position: relative;
  width: 470px;
  height: 34px;
  display: inline-block;
  margin: 5px 8px;
  font: 16px arial,sans-serif;
  border: none;
  outline: none;
}
.input_buttons {
  position: relative;
  float: left;
  width: 96px;
  height: 44px;
}

.search, .kbd{
  display: block;
  height: 100%;
  width: 40px;
  margin: 0 4px;
}

.search {
  float: left;
}

.kbd:hover .kbd_img{
  opacity: 0.8;
}

.search img, .kbd img{
  position: relative;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.kbd img{
  opacity: 0.6;
}

.search_buttons {
  position :absolute;
  top: 45%;
  left: 42%;
}

.search_more_btn, .search_btn {
  background: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  border-radius: 2px;
  font-family: arial,sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  color: #757575;
  width: 127px;
  height: 36px;
}

.search_more_btn:hover, .search_btn:hover {
  color: black;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  border: 1px solid #c6c6c6;
}

.more_info {
  position: absolute;
  top: 53%;
  left: 45%;
  font-family: arial;
  font-size: small;
}

.more_info a {
  text-decoration: none;
  color: #609;
  padding: 0 3px;
}

.more_info a:hover {
  text-decoration: underline;
}

.he {
  display: inline-block;
}
